# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/
@mf-types/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Testing
coverage/

# Cache
.cache/
.eslintcache
.npm/
